.table{
margin-top: 20px;
overflow: scroll;
height: 300px;
margin-bottom: 20px;
}

.table tr:nth-of-type(odd){
    background-color: rgb(207, 207, 207);
}

.table tr{
    display: flex;
    justify-content: space-between;
}

.table td{
    padding: 0.5rem;
}